* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.square, .red-square, .black-square, .aquamarine-square {
  margin: 0 11px 0 0;
  width: 12px;
  height: 12px;
}

.flexcentr, .pink-button, .breadcrum, .product-slide, .product-slide_arrow, .product-data-anchor, .product-data, .slider3, .choose-value_color, .f-items_catalog_row_cell_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexcentrs, .flexbox, .details-common__summary, .details-common__summary-burg, .product-data_info, .product-data_buttons, .choose-value_summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font_l-h, .hc1, .hc2 {
  line-height: 20px;
  text-transform: uppercase;
}

.he777 {
  height: 777px;
}

.pw {
  width: 1142px;
}

.sw {
  width: 1600px;
}

.outter-box1 {
  margin: 0 auto;
  border: 1px solid #eaeaea;
}

.flexbox__column {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexbox__cell_triens {
  width: 31.52%;
}

.flexbox_fstart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flexbox_nojust {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.flexbox_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox-block {
  display: block;
}

.hc1 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.hc3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.hc8 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.hc2 {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
}

.hc4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
  text-transform: uppercase;
}

.hc5 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}

.hc9 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6f6e6e;
}

.hc10 {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.hc11 {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.hc7 {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.hc6 {
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.p1c {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
}

.p2c {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
}

.p3c, .plhd_grey::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.p3c, .plhd_grey:-ms-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.p3c, .plhd_grey::-ms-input-placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.p3c, .plhd_grey::placeholder {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}

.p4c {
  font-size: 14px;
  line-height: 33px;
  font-weight: 700;
  color: #6f6e6e;
}

.p5c {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #222222;
}

.p6c {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.p7c {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.p7c {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #c4c4c4;
}

.p8c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #222222;
}

.text-a-c {
  text-align: center;
}

.pink, .details-common[open] .details-common__summary-burg {
  color: #f16d7f;
}

.pink-bold7 {
  font-weight: 700;
  color: #f16d7f;
}

.dark-grey {
  color: #4d4d4d;
}

.light-grey-thin {
  font-weight: 300;
  color: #b9b9b9;
}

.light-grey {
  color: #b9b9b9;
}

.red {
  color: #ff0d0d;
}

.mg0 {
  margin: 0;
}

.mg-a {
  margin: 0 auto;
}

.mgl13 {
  margin-left: 13px;
}

.mgtb5 {
  margin: 5px 0;
}

.mgtb11 {
  margin: 11px 0;
}

.mgtb16 {
  margin: 16px 0;
}

.mgtb20 {
  margin: 20px 0;
}

.mgr25 {
  margin-right: 25px;
}

.mgr44 {
  margin-right: 44px;
}

.mgt67 {
  margin-top: 67px;
}

.mgb42 {
  margin-bottom: 42px;
}

.width86px {
  width: 86px;
}

.width100 {
  width: 100%;
}

.padrl16 {
  padding: 0 16px;
}

.padb30 {
  padding: 0 0 30px;
}

.contbox {
  max-width: 1142px;
  margin: 70px auto 80px;
}

.contbox_product {
  margin-bottom: 110px;
}

.lsi {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
}

.bd-top-no {
  border-top: none !important;
}

.bd_round {
  border-radius: 3px;
}

.bd_bottom {
  border-bottom: 1px solid #e8e8e8;
}

.pink-button {
  width: 537px;
  height: 55px;
  border: 2px solid #f16d7f;
  background-color: #f16d7f;
  color: #fff;
}

.pink-button-text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

.pink-button-img {
  margin: 0 15px 0 0;
}

.pink-button-img2 {
  margin: 0 15px 0 0;
  visibility: hidden;
  position: absolute;
}

.pink-button:hover {
  border: 2px solid #f16d7f;
  background-color: #ffffff;
  color: #f16d7f;
}

.pink-button:hover .pink-button-img {
  visibility: hidden;
  position: absolute;
}

.pink-button:hover .pink-button-img2 {
  visibility: visible;
  position: relative;
}

.button-common-pink {
  padding: 20px 40px;
  border: 3px solid #f16d7f;
  background-color: #f16d7f;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.button-common-pink_small {
  padding: 16px 18px;
}

.button-common-pink_tiny {
  padding: 12px 15px;
}

.button-common-pink_hover:hover {
  color: #f16d7f;
  background-color: white;
}

.details-common {
  position: relative;
}

.details-common__summary {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.details-common__summary-burg {
  width: 100%;
  padding: 9px 16px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
  background-color: #ffffff;
}

.details-common__arrow {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.details-common[open] .details-common__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: unset;
          filter: unset;
}

.details-common[open] .details-common__content {
  z-index: 1;
  -webkit-animation: details_opac 0.3s;
          animation: details_opac 0.3s;
  width: 100%;
}

.details-common[open] .details-common__content_abs {
  position: absolute;
  top: 28px;
  left: 0;
}

.button-common {
  padding: 20px 40px;
  border: 1px solid #eaeaea;
  background-color: white;
}

.button-common_large {
  padding: 15px 54px;
}

.button-common_medium {
  padding: 11px 45px;
}

.button-common_small {
  padding: 16px 18px;
}

.button-common_tiny {
  padding: 12px 15px;
}

.button-common_tiny2 {
  padding: 0 13px;
}

.button-common_hover:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.font-pink-hover:hover {
  color: #f16d7f;
}

.bg-pink-hover:hover {
  background-color: #f16d7f;
}

.breadcrum {
  height: 148px;
  background-color: #f8f3f4;
}

.product-slide {
  height: 777px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border: 0 1px 1px 1px solid #eaeaea;
}

.product-slide_arrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.product-slide_arrow:hover {
  background-color: rgba(42, 42, 42, 0.5);
}

.product-slide_productimg {
  display: block;
  margin: 11px 0 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.product-data-anchor {
  margin: 0 auto;
  position: relative;
  height: 703px;
}

.product-data {
  position: absolute;
  top: -80px;
  width: 1142px;
  height: 730px;
  background-color: #ffffff;
  padding: 73px 261px 122px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-data_info {
  margin-top: 22px;
  width: 336px;
}

.product-data_price {
  margin-top: 37px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
}

.product-data_buttons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 160px;
  width: 537px;
}

.hr-line-g {
  margin: 43px 0 63px 0;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
}

.slider3 {
  margin: 14px auto 17px;
  width: 147px;
}

.slider3_item {
  width: 42px;
  height: 1px;
  background-color: #eaeaea;
}

.slider3_itemb {
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
}

.red-square {
  background-color: #f16d7f;
}

.black-square {
  background-color: #000;
}

.aquamarine-square {
  background-color: aquamarine;
}

.choose-value {
  margin: 16px 0 28px 0;
  position: relative;
}

.choose-value_summary {
  z-index: 3;
  padding: 9px 9px 9px 14px;
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  background-color: #ffffff;
}

.choose-value[open] .choose-value_summary_arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.choose-value[open] .choose-value_box {
  -webkit-animation: details_opac 0.3s;
          animation: details_opac 0.3s;
}

.choose-value_box {
  position: absolute;
}

.f-items_catalog_row_cell_img {
  background-color: #e9e9e9;
  width: 261px;
  height: 280px;
}
/*# sourceMappingURL=single_page.css.map */