////////Single_page/////////

@import 'variables.scss';

@mixin smargin($top) {
    margin: $top auto;
}

* {
    box-sizing: border-box;
}

//////EXTENDS/////////

.square {
    margin: 0 11px 0 0;
    width: 12px;
    height: 12px;
}

.flexcentr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcentrs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font_l-h {
    line-height: 20px;
    text-transform: uppercase;
}

.he777 {
    height: 777px;
}

.pw {
    width: $page-width;    
}

.sw {
    width: $screen-width;    
}

//////COMMON STYLES/////////
  
.outter-box1 {
    @include smargin(0);
    border: 1px solid #eaeaea;
    }

.flexbox {
    @extend .flexcentrs;
    &__column {
         align-items: flex-start;
         flex-direction: column;
     }
    &__cell {
        &_triens {
            width: 31.52%;
        }
    }
    &_fstart {
        align-items: flex-start;
    }
    &_nojust {
        justify-content: unset;
    }
    &_center {
        justify-content: center;
        align-items: center;
    }
}

.flexbox-block {
    display: block;
}

.hc1 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-pink;
    @extend .font_l-h;
}

.hc3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}

.hc8 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.hc2 {
    font-size: 14px;
    font-weight: 300;
    color: #636363;
    @extend .font_l-h;
}

.hc4 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
    text-transform: uppercase;
}

.hc5 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
}

.hc9 {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6f6e6e;
}

.hc10 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.hc11 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.hc7 {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
}

.hc6 {
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222;
}


// the last is h11

.p1c {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    text-align: center;
}

.p2c {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #656565;
}

.p3c {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b1b1b1;
}

.p4c {
    font-size: 14px;
    line-height: 33px;
    font-weight: 700;
    color: #6f6e6e;
}

.p5c {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #222222;
}

.p6c {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
}

.p7c {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.p7c {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #c4c4c4;
}

.p8c {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #222222;
}


.text-a-c {
    text-align: center;
}

.pink {
    color: $color-pink;
    }
    
.pink-bold7 {
font-weight: 700;
color: $color-pink;
}

.dark-grey {
    color: #4d4d4d;
}

.light-grey-thin {
    font-weight: 300;
    color: #b9b9b9;
}

.light-grey {
    color: #b9b9b9;
}



.red {
    color: #ff0d0d;
}

.mg0 {
    margin: 0;
}

.mg-a {
    @include smargin(0);
}

.mgl13 {
    margin-left: 13px;
}

.mgtb5 {
    margin: 5px 0;
}

.mgtb11 {
    margin: 11px 0;
}

.mgtb16 {
    margin: 16px 0;
}

.mgtb20 {
    margin: 20px 0;
}

.mgr25 {
    margin-right: 25px;
}

.mgr44 {
    margin-right: 44px;
}

.mgt67 {
    margin-top: 67px;
}

.mgb42 {
    margin-bottom: 42px;
}

.width86px {
    width: 86px;
}

.width100 {
    width: 100%;
}

.padrl16 {
    padding: 0 16px;
}

.padb30 {
    padding: 0 0 30px;
}



.contbox {
    max-width: $page-width;
    margin: 70px auto 80px;
        &_product {
        margin-bottom: 110px;
        }   
}


.lsi{  //link style inherit
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}

.bd-top-no {  //no top border for child boxes
    border-top: none !important;
}


.bd {
&_round {
    border-radius: 3px;
}
&_bottom {
    border-bottom: 1px solid #e8e8e8;
}
}


.pink-button {
    @extend .flexcentr;
    width: 537px;
    height: 55px;
    border: 2px solid $color-pink;
    background-color: $color-pink;
    color: #fff;
    &-text {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        }
    &-img {
        margin: 0 15px 0 0;
        &2 {
            margin: 0 15px 0 0;
            visibility: hidden;
            position: absolute;
        }
        }    
    &:hover {
        border: 2px solid $color-pink;
        background-color: #ffffff;    
        color: $color-pink;
    }
    &:hover &-img {
                visibility: hidden;
                position: absolute;
            &2 {
                visibility: visible;
                position: relative;
            }
            } 
    

}


.button-common-pink {
    padding: 20px 40px;
    border: 3px solid $color-pink;
    background-color: $color-pink;
    ////font
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;  
    ////  
    &_small {
        padding: 16px 18px;
    }
    &_tiny {
        padding: 12px 15px;
    }
    &_hover:hover {
        color: $color-pink;
        background-color: white;
    }
}

.details-common {
    
    position: relative;
    &__summary {
        width: 100%;
        padding: 16px 18px;
        border: 1px solid #eaeaea;
        @extend .flexcentrs;
        background-color: #ffffff;

    }

    &__summary-burg {
        width: 100%;
        padding: 9px 16px;
        border-bottom: 1px solid #ebebeb;
        border-left: 5px solid $color-pink;
        @extend .flexcentrs;
        background-color: #ffffff;
    }

    &__arrow{
        filter: grayscale(100%);
    }

    &[open] &__arrow{
        transform: rotate(180deg);
        filter: unset;
        
    }
    &[open] &__content {
        z-index: 1;  
        animation: details_opac 0.3s;
        width: 100%;
        &_abs {
            position: absolute;
            top: 28px;
            left: 0;
        }
    }
    &[open] &__summary-burg {
        @extend .pink;
    }

    

}

.button-common {
    padding: 20px 40px;
    border: 1px solid #eaeaea;
    background-color: white;

    &_large {
        padding: 15px 54px;
    }

    &_medium {
        padding: 11px 45px;
    }
    
    &_small {
        padding: 16px 18px;
    }
    &_tiny {
        padding: 12px 15px;
    }
    &_tiny2 {
        padding: 0 13px;
    }
    &_hover:hover {
        border: 1px solid $color-pink;
        color: $color-pink;
    }
}

.plhd_grey::placeholder {
    @extend .p3c;   
  }
  
.font-pink-hover:hover {
    color: $color-pink;
}

.bg-pink-hover:hover {
    background-color: $color-pink;
}



///////////////breadcrum

.breadcrum {
   height: 148px;
   background-color: #f8f3f4;
   @extend .flexcentr;
}


//////////////product-slide

.product-slide {
    height: 777px;
    background-color: #f7f7f7;
    @extend .flexcentr;
    @include smargin(0);
    border: 0 1px 1px 1px solid #eaeaea;

    &_arrow {
        @extend .flexcentr;
        width: 47px;
        height: 47px;
        background-color: rgba(42,42,42,0.14);
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        &:hover {
            background-color: rgba(42,42,42,0.5);
        }

    }
    &_productimg {
        display: block;
        margin: 11px 0 0 0;
        align-self: flex-start;
    }
}

//////////////product-data

.product-data-anchor {
    @include smargin(0);
    position: relative;
    height: 703px;
    @extend .flexcentr;
}

.product-data {
    position: absolute;
    top: -80px;
    width: $page-width;
    height: 730px;
    background-color: #ffffff;
    padding: 73px 261px 122px;

    @extend .flexcentr;
    flex-direction: column;
    
    &_info {
        margin-top: 22px;
        @extend .flexcentrs;
        width: 336px;
    }
    &_price {
        margin-top: 37px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: $color-pink;
    }
    &_buttons {
        @extend .flexcentrs;
        flex-wrap: wrap;
        height: 160px;
        width: 537px;
        // &_item{
                
        //      }
        
    }
}

.hr-line-g {
    margin: 43px 0 63px 0;
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
}

.slider3 {
    @extend .flexcentr;
    margin: 14px auto 17px;
    width: 147px;
    &_item{
        width: 42px;
        height: 1px;
        background-color:#eaeaea;
    }
    &_itemb{
        width: 63px;
        height: 3px;
        background-color: $color-pink;
    }
}

.red-square {
    @extend .square;
    background-color: $color-pink;
}

.black-square {
    @extend .square;
    background-color: #000;
}

.aquamarine-square {
    @extend .square;
    background-color: aquamarine;
}

.choose-value {
    margin: 16px 0 28px 0;
    position: relative;
    &_summary {
        z-index: 3;  
        padding: 9px 9px 9px 14px;
        width: 144px;
        height: 35px;
        border: 1px solid #eaeaea;
        @extend .flexcentrs;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
        background-color: #ffffff;
    }
    &_color {
        @extend .flexcentr;
    }
    &[open] &_summary_arrow{
        transform: rotate(180deg);
        
    }
    &[open] .choose-value_box {
        
        animation: details_opac 0.3s;
    }
    &_box {
        position: absolute;
    }
}


.f-items_catalog_row_cell_img {
    @extend .flexcentr;
    background-color: #e9e9e9;
    width: 261px;
    height: 280px;
}